<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myBean" class="com.paypal.beans.Greeting">
		<property name="message">
			<value type="java.lang.String">This is the message property value</value>
		</property>
	</bean>
	
	<bean id="secondBean" class="com.paypal.beans.Greeting">
		<constructor-arg>
			<value>Constructor Injection at play</value>
		</constructor-arg>
	</bean>
	
	<bean id="coke" class="com.paypal.beans.CocaCola">
		<constructor-arg type="int" value="25" />
		<constructor-arg type="java.lang.String" value="Open Happiness" />
	</bean>
	
	<bean id="coke2" class="com.paypal.beans.CocaCola">
		<constructor-arg name="quantity" value="99" />
		<constructor-arg name="tagLine" value="Open Happiness AGAIN" />
	</bean>
	
	<bean id="coke3" class="com.paypal.beans.CocaCola">
		<constructor-arg value="1234" index="1" />
		<constructor-arg value="Third tagline" index="0" />
	</bean>
	
	<bean id="coke4" class="com.paypal.beans.CocaCola">
		<property name="tagLine" value="Fourth tagLine" />
		<property name="quantity" value="10" />
	</bean>
	
	<bean id="coke5" class="com.paypal.beans.CocaCola">
		<constructor-arg name="tagLine" value="Fifth coke bean" />
	</bean>
	
	<bean id="coke6" class="com.paypal.beans.CocaCola">
		<constructor-arg name="tagLine" value="SIXTH coke bean" />
		<property name="quantity" value="999" />
	</bean>
	
	<bean id="coke7" class="com.paypal.beans.CocaCola">
		<property name="quantity" value="112233" />
		<constructor-arg name="tagLine" value="Seventh coke bean instance" />
	</bean>
	
	<bean id="firstPerson" class="com.paypal.beans.Person" scope="prototype">
		<property name="name" value="ABCD" />
		<property name="age" value="28" />
		<property name="address" ref="addr" />
	</bean>
	
	<bean id="addr" class="com.paypal.beans.Address" scope="prototype">
		<property name="city">
			<value>Mumbai</value>
		</property>
		<property name="pincode">
			<value>123456</value>
		</property>
	</bean>
	
	<bean id="secondPerson" class="com.paypal.beans.Person">
		<constructor-arg name="name" value="Second Person" />
		<constructor-arg name="age" value="33" />
		<constructor-arg name="address" ref="addr2" />
	</bean>
	
	<bean id="addr2" class="com.paypal.beans.Address">
		<property name="city" value="Chennai" />
		<property name="pincode" value="112233" />
	</bean>
</beans>

